body{
  background-image: url('./assets/pic1.png');
}
.main {
  padding-bottom: 50px;
  padding-top: 50px;
  color: #000;
  align-items: center;
  text-align: center;
}

.head {
  background-color: #fbca41f3;
  font-size: large;
  font-weight: 200;
  padding-top: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100px;
  font-family: cursive;
}

.elements {
  padding-top: 10px;
  text-align: center;
  text-decoration: solid;
  font-size: 20px;
}

.button {
  background-color: #ffca45cb; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}
.res-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(126, 112, 112, 0.5); 
  color: white; 
  margin-top: 4%;
  border-radius: 10px;
}

.reset {
  background-color: #dac282f3;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.res{
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-family: cursive;
  text-decoration:underline;
  text-decoration-thickness: 3px;
}

.res1{
  color: #000;
  font-size: 120%;
  font-family: cursive;
  font-weight: 700;
}

.lb{
  font-family: cursive;
  font-weight: 700;
}
.input{
  border-bottom:#d3b98c solid;
  border-right: #d3b98c solid;
  border-left: #000 solid;
  border-top: #000 solid;
  background-color: rgba(255, 255, 255, 0.596);
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 8px;
 
}